
/* --------------------------------------------------

タイトル

-------------------------------------------------- */

/* page-ttl */
.page-ttl{
	color: #FFF;
	background: $color-second;
	font-size: 4rem;
	text-align: center;
	letter-spacing:.2em;
	padding: 5%;
	margin-bottom: 1em;;
	position: relative;
	span{
		font-size: 2rem;
		letter-spacing: .1em;
		display: block;
	}
	@include bp{
		font-size: 3rem;
	}
}


/* ttl-large */
.ttl-large {
	color: $color-base;
	border-bottom: 5px solid $color-base-l01;
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: .2em;
	padding: 0.5em 0;
	margin-bottom: 1em;
	position: relative;
	&::after{
		content: "";
		background: $color-second;
		display: block;
		width: 5em;
		height: 5px;
		position: absolute;
		left: 0;
		bottom: -5px;
	}
	@include bp{
		font-size: 2.4rem;
	}
}

/* ttl-small */
.ttl-small {
	font-size: 2.4rem;
	border-left: 7px solid $color-second;
	padding-left: 1em;
	margin-bottom: 1em;
	@include bp{
		font-size: 2rem;
	}
}
/* --------------------------------------------------

ボタン

-------------------------------------------------- */

// btn-base
.btn-base {
	a {
		color: #FFF;
		background-color: $color-second;
		display: inline-block;
		text-align: left;
		letter-spacing: 0.1em;
		border-radius: 35px;
		box-sizing: border-box;
		padding: 1em 2em;
		position: relative;
		&:hover {
			opacity: 0.7;
		}
	}
	&.back a {
		color: $color-base;
		background: $color-base-l01;
		padding: 1em 2em 1em 3em;
		&:before {
			content: "";
			width: 0.5em;
			height: 0.5em;
			border-bottom: 2px solid $color-base;
			border-left: 2px solid $color-base;
			display: inline-block;
			vertical-align:middle;
			position: absolute;
			top: 50%;
			left: 1.5em;
			transform: translateY(-50%) rotateZ(45deg);
		}
	}
	&.arrow a{
		padding: 1em 3em 1em 2em;
		&:after {
			content: "";
			width: 0.5em;
			height: 0.5em;
			border-top: 2px solid #FFF;
			border-right: 2px solid #FFF;
			display: inline-block;
			vertical-align:middle;
			position: absolute;
			top: 50%;
			right: 1.5em;
			transform: translateY(-50%) rotateZ(45deg);
		}
	}
	&.search {
		a:before {
			content:'\f002';
			font-family: Fontawesome;
			display: inline-block;
			padding: 0 0.5em;
		}
	}
}


/* --------------------------------------------------

アイコン

-------------------------------------------------- */

.icon-new {
	color: #FFF;
	background: #B01414;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.3em 1em;
	margin: 0 0 0 0.5em;
	position: relative;
}
.icon-required {
	color: #FFF;
	background: #B01414;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.3em 1em;
	margin: 0 0 0 0.5em;
}

/* --------------------------------------------------

カテゴリー

-------------------------------------------------- */

.category {
	border: 1px solid #999;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	padding: 0 0.7em;
	margin: 0 .2rem .5rem 0;
}

/* --------------------------------------------------

バッジ

-------------------------------------------------- */

.badge{
	display:block;
	width:56px;
	height:56px;
	font-size: 1.4rem;
	text-align:center;
	line-height:56px;
	border-radius:50%;
	z-index:2;
	&.new{
		color: #FFF;
		background: #B01414;
	}
	&.open{
		background: #FFF;
		border: 1px solid $color-base;
	}
	&.close{
		color: #FFF;
		background: $color-second;
	}
}