
/* --------------------------------------------------

header

-------------------------------------------------- */

#header a:hover {
	opacity: 0.8;
	transition: all 0.3s;
}
#header {
	width: 100%;
	position: relative;
	background: #FFF;
	z-index: 20;
	.header-top {
		padding: 1.5em;
		display: flex;
		justify-content: space-between;
		background: #FFF;
		@include bp {
			width: 100%;
			padding: 1em;
			&.active-h {
				position: fixed;
			}
		}
		h1 {
			a {
				display: block;
				&:hover {
					opacity: 1;
				}
				@include bp {
					width: 20%;
				}
				@include bp {
					width: auto;
					position: static;
				}
				@include bp{
					width: 70%;
					img {
						width: 100px;
					}
				}
			}
		}
		.btn-skip {
			a {
				color:#FFF;
				font-size: 1.5rem;
				display:block;
				background:$color-base-d01;
				text-decoration:none;
				padding:0.3em 1em 0.4em;
				border-radius: 2em;
				opacity: 1;
				position: absolute;
				left: 25%;
				top: -50px;
				z-index: 10;
				&:before {
					content:"\f0dd";
					line-height: 1em;
					display:inline-block;
					font-family:'Font Awesome 5 Pro';
					font-weight: 900;	
					padding:0 0.5em 0 0;
					vertical-align: top;
				}
				&:hover {
					background:$color-base;
				}
				&:focus {
					opacity: 1;
					top: 15%;
				}
			}
		}
		
		.r-function-block {
			width: 85%;
			color: $color-light;
			font-size: 1.5rem;
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			z-index: 2;
			@include bp {
				display: none;
			}
			.fontSize {
				margin-right: 1%;
				display: flex;
				align-items: center;
				dt {
					margin-right: 1em;
				}
				dd {
					display: flex;
					a {
						&.active {
							color: $color-second;
							font-weight: 700;
						}
					}
					&:after {
						content: "／";
						margin: 0 0.3em;
						display: inline-block;
					}
					&:last-child:after {
						display: none;
					}
				}
			}
			.btn-lang {
				margin-right: 1%;
				display: flex;
				align-items: center;
				li {
					display: flex;
					a {
						// color: #FFF;
						&.active {
							color: $color-second;
							font-weight: 700;
						}
					}
					&:after {
						content: "／";
						margin: 0 0.3em;
						display: inline-block;
					}
					&:last-child:after {
						display: none;
					}
				}
			}
			.btn-search {
				margin-right: 1%;
				fieldset {
					display: flex;
					border: 1px solid $color-base;
					legend {
						display: none;
					}
					input {
						border-radius: 0;
						flex: 1;
						&::placeholder {
							color: $color-placeholder;
						}
						@include bp {
							&::placeholder {
								color: rgba(255,255,255,0.5) !important;
							}
						}
					}
					button {
						color: #FFF;
						border-radius: 0;
						border: none;
						background: $color-base;
						letter-spacing: 0.1em;
						@include hover;
						&:before {
							color: #FFF;
							content:'\f002';
							font-weight: 900;
							margin-right: 0.5em;
							display: inline-block;
							font-family:'Font Awesome 5 Free';
						}
					}
				}				
			}
			.btn-toquest {
				a {
					width: 8em;
					display: block;
					text-align: center;
				}
			}
		}
	}

	#navi {
		background: #FFF;
		@include bp {
			width: 100%;
			height: 100%;
			padding: 75px 0 1em;
			background: $color-base;
			display: none;
			overflow-y: scroll;
			position: absolute;
			z-index: 15;
		}
		.gnavi {
			display: flex;
			justify-content: space-between;
			@include bp {
				display: block;
			}
			li {
				flex: 1;
				display: flex;
				@include bp {
					border-bottom: 1px solid rgba($color: #FFF, $alpha: 0.3);
					&:first-child {
						a {
							border-top: 1px solid rgba($color: #FFF, $alpha: 0.3);
						}
					}
				}
				a {
					width: 100%;
					padding: 0.8em 0;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					border-bottom: 5px solid #FFF;
					@include bp {
						color: #FFF;
						padding: 1em 1em 1.2em 0.3em;
						border: none;
						justify-content: flex-start;
						position: relative;
						&:after {
							content: "";
							width: 0.4em;
							height: 0.4em;
							margin: 0;
							border-top: 2px solid #FFF;
							border-right: 2px solid #FFF;
							display: inline-block;
							vertical-align:middle;
							position: absolute;
							top: 50%;
							right: 0.5em;
							transform: translateY(-50%) rotateZ(45deg);
						}
					}
					&:hover {
						border-bottom: 5px solid $color-base;
						@include bp {
							border: none;
						}
					}
				}
			}
		}
		.r-function-block {
			margin: 2em 0 0;
			display: none;
			@include bp {
				display: flex;
				flex-wrap: wrap;
			}
			.list-sns {
				width: 100%;
				order: 2;
				li {
					margin: 0 1em;
					a {
						&:before {
							color: #FFF;
						}
					}
				}
			}
			.btn-search {
				width: 100%;
				margin-right: 1%;
				order: 1;
				fieldset {
					display: flex;
					border: 1px solid $color-base;
					legend {
						display: none;
					}
					input {
						border-radius: 0;
						flex: 1;
						&::placeholder {
							color: $color-placeholder;
						}
						@include bp {
							&::placeholder {
								color: rgba(255,255,255,0.5) !important;
							}
						}
					}
					button {
						color: #FFF;
						border-radius: 0;
						border: none;
						background: $color-base;
						letter-spacing: 0.1em;
						@include hover;

						@include bp {
							color: #000;
							background: #FFF;
						}

						&:before {
							color: #FFF;
							content:'\f002';
							font-weight: 900;
							margin-right: 0.5em;
							display: inline-block;
							font-family:'Font Awesome 5 Free';
							@include bp {
								color: #000;
							}
						}
					}
				}				
			}
		}
	}

	// ヘッダー固定の時
	&.fixed-h {
		box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.1);
		position: fixed;
		top: 0;
		@include bp-up {
			.header-top {
				padding: 0.8em;
				h1 {
					img {
						width: 120px;
					}
				}
			}
			#navi {
				.gnavi {
					li {
						a {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}

}


// 追従メニュー
body.fixed-h #header {
	position: fixed;
	top: 0;
	@include bp-up {
		padding: 0.5em;
	}
	h1 img {
		@include bp-up {
			width: 130px;
		}
	}
}

body.fixed-h #navi {
	@include bp-up {
		width: 100%;
		background: #FFF;
		position: fixed;
		top: 68px;
		z-index: 20;
	}
}

body.fixed-body {
	@include bp {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
		#header {
			.header-top {
				position: fixed;
				top: 0;
				z-index: 20;
			}
			#navi {
				position: fixed;
				top: 0;
			}
		}
	}
}

/*　スマホボタン　*/
	
.btn-menu {
	display: none;
	@include bp {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 3%;
		z-index: 25;
		transform: translateY(-50%);
	}
	a {
		display: block;
		div {
			position: relative;
			width: 28px;
			height: 25px;
			display: inline-block;
			vertical-align: middle;
			span {
				display: inline-block;
				transition: all .4s;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #000;
				border-radius: 15px;
				&:nth-of-type(1) {
					top: 0;
				}
				&:nth-of-type(2) {
					top: 11px;
				}
				&:nth-of-type(3) {
					bottom: 0;
				}
				&:nth-of-type(2)::after {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 2px;
					background-color: #000;
					transition: all .4s;
				}
			}
		}
		&.open {
			span {
				&:nth-of-type(1) {
					transform: translateY(20px) scale(0);
				}
				&:nth-of-type(2) {
					transform: rotate(-45deg);
				}
				&:nth-of-type(2)::after {
					transform: rotate(90deg);
				}
				&:nth-of-type(3) {
					transform: translateY(-20px) scale(0);
				}
			}
		}
	}
}
