@charset "utf-8";

/* --------------------------------------------------

初期設定

-------------------------------------------------- */
// font
$font-primary: 'Noto Sans JP',"游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
$font-secondary: 'Noto Serif JP',"游明朝","YuMincho","Hiragino Mincho ProN","Hiragino Mincho Pro", serif;
$font-eng: 'Playfair Display', serif;

// color
$color-base: #145E70;
$color-second:#8C302A;
$color-base-d01: #0c4553;
$color-base-l01: #3C7E8C;

$color-light: #DAE8EC;

// break point
$bq-in: 1100px;

$bq: 768px;
$bq-s: 420px;