@charset "utf-8";

/* --------------------------------------------------

初期設定

-------------------------------------------------- */
// font
$font-primary: 'Noto Sans JP',"游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
$font-secondary: 'Noto Serif JP',"游明朝","YuMincho","Hiragino Mincho ProN","Hiragino Mincho Pro", serif;
$font-eng: 'Playfair Display', serif;

// color
$color-base: #333;
$color-base-d01: #000;
$color-base-l01: #F0F0F0;
$color-second:#707070;


$color-light: #F0F0F0;

// break point
$bp-in: 1200px;

$bp: 768px;
$bp-s: 420px;

/* --------------------------------------------------

hover

-------------------------------------------------- */

@mixin hover {
	&:hover {
		opacity: 0.7;
	}
}

/* --------------------------------------------------

breakpoint

-------------------------------------------------- */

@mixin bp {
	@media only screen and (max-width: $bp ) {
	  @content;
	}
}

@mixin bp-in {
	@media only screen and (max-width: $bp-in ) {
	  @content;
	}
}


@mixin bp-s {
	@media only screen and (max-width: $bp-s) {
		@content;
	}
}